.orders {

  &__header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }

  &__body {
    display: flex;
    flex-direction: row;

    &--products {
      width: 70%;
    }
  }
}