@tailwind base;
@tailwind components;
@tailwind utilities;

.add-button {
  @apply mr-5 relative rounded-full border-solid border-zinc-100 bg-green 
  before:absolute  before:block before:bg-white before:left-1/2 before:top-2 before:bottom-2
  after:absolute after:block after:bg-white after:top-1/2 after:left-2 after:right-2;

  &--normal {
    @apply h-10 w-10
    before:w-1.5 before:left-[calc(50%-3px)]
    after:h-1.5 after:top-[calc(50%-3px)];
  }

  &--small {
    @apply h-8 w-8 
    before:w-0.5 before:left-[calc(50%-1px)] 
    after:h-0.5 after:top-[calc(50%-1px)];
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    5px 5px 15px rgba(70, 70, 70, 0.12),
    inset -5px -5px 15px rgba(255, 255, 255, 0.5),
    inset 5px 5px 15px rgba(70, 70, 70, 0.12);
  }
}